
@import "skin/vars";
@import "bootstrap";
@import "mixins/spread-value";

@import "fontawesome/font-awesome";

@import "skin/global";
@import "skin/layouts";

@import "plugins/animate";
@import "plugins/magnific";
@import "plugins/owlcarousel";
@import "plugins/select2";
@import "plugins/smartmenu";

//SassInsertLeaveAsIs

@import "skin/blog";
@import "skin/widgets";
@import "skin/grid";
@import "skin/footer";
@import "skin/header";
@import "skin/forms";

@import "skin/bootstrap_grid_override";

@import "skin/modules/fullscreen-mast";
@import "skin/modules/mobile-nav-on-desktop";

// Style up input errors
// This is based on jquery-validation
.input-validation-errors {
  border-color: $state-danger-bg;
}

.field-validation-error {
  color: $state-danger-text;
}

.form-control {
  &.valid {
    border-color: $state-success-bg;
  }
}
