/* Table of Contents
==================================================
    
    #blog-listing
    #blog detail
    #blog global - placed third to override above if needed
    #comments
    #comment form
    #author

   ==================================================
*/

/* ==========================================================================
#blog listing
========================================================================== */

.blog-listing {
	.blog-post-summary {
		margin-bottom: 30px;

		&:nth-of-type(2n + 1) {
			clear: left;
		}
	}
}

.author-posts {
	margin-top: 30px;
}

.blog-post-summary {
	h3 {
		margin: 0;
		@include spread-value(font-size, $font-size-h3-small, $font-size-h3);
		a {
			color:$text-color;
			&:hover {
				color:$link-color;
			}
		}
	}
	.image {
		display: block;
		@include spread-value(margin-bottom, 10px, 20px);
	}	
	.post-meta {
		@include spread-value(font-size, 16px, 18px);
		@include spread-value(margin-bottom, 10px, 20px);

		a {
			color: $link-color;
			&:hover {
				text-decoration: underline;
			}
		}
		p {
			margin-top: 10px;
		}
	}
}

/* ==========================================================================
#blog detail
========================================================================== */

.post {
	h3 {
		color: $text-color;
		@include spread-value(font-size, $font-size-h3-small, $font-size-h3);
		@include spread-value(margin-bottom, 20px, 30px);
	}
	.post-meta {
		@include spread-value(margin-bottom, 20px, 30px);
		p {
			@include spread-value(margin-bottom, 20px, 30px);
		
			padding-left: 35px;
			position: relative;

			&:before{
				position: absolute;
				left:0;
				top:-2px;
				font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;
			    color: #000;
			    font-size: 18px;
			    padding-right: 0.5em;
			}
			&.meta-author:before {
				content: '\f007';
			}
			&.meta-category:before {
				content: '\f009';
			}
			&.meta-comments:before {
				content: '\f086';
			}
			&.meta-date:before {
				content: '\f073';
			}
		}
	}
	.blog-image {
		@include spread-value(margin-bottom, 20px, 30px); 
	}
	.cms-content {
		@include spread-value(padding-bottom, 30px, 50px);
		@include spread-value(margin-bottom, 30px, 50px);
		border-bottom: 1px solid #d9d9d9;

		> *:last-child {
			margin-bottom: 0;
		}
	}
	.widget-tags {
		@include spread-value(padding-bottom, 30px, 50px);
		@include spread-value(margin-bottom, 30px, 50px);	
		border-bottom: 1px solid #d9d9d9;	
	}
	.share-links-wrapper {
		@include spread-value(padding-bottom, 30px, 50px);
		@include spread-value(margin-bottom, 30px, 50px);	
		border-bottom: 1px solid #d9d9d9;	
	}
	.author {
		@include spread-value(padding-bottom, 30px, 50px); 
		@include spread-value(margin-bottom, 30px, 50px); 	
		border-bottom: 1px solid #d9d9d9;	
	}
	#comments {
		@include spread-value(padding-bottom, 30px, 50px); 
		@include spread-value(margin-bottom, 30px, 50px); 	
		border-bottom: 1px solid #d9d9d9;	
	}
}

/* ==========================================================================
#blog global
========================================================================== */

.share-links {
	background:#f1f1f1;
	padding: 25px 30px;
	overflow: hidden;
	text-align: center;

	h3, ul {
		margin: 0;
	}
	h3 {
		color:$link-color;
		@include spread-value(font-size, $font-size-h3-small, $font-size-h3);
		margin-bottom: 10px;
	}
	ul {
		a {
			color:$text-color;
			padding: 0 10px;
			&:hover {
				color: $link-color;
			}
		}
		i {
			font-size: 19px;
		}
	}

	@media (min-width: 480px) {
		> div {
			display: table;
			width:100%;
			text-align: left;
		}

		h3 {
			margin-bottom: 0;
		}
		h3, ul {
			display: table-cell;
			vertical-align: middle;
		}
		ul {
			text-align: right;

			li {
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	@media (min-width: $screen-md) {
		ul {			
			a {
				padding: 0 20px;
			}
		}
	}
}

/* ==========================================================================
#comments
========================================================================== */

#comments {
	h3 {
		@include spread-value(font-size, $font-size-h3-small, $font-size-h3);
		margin-bottom: 30px;
		padding-left: 35px;
		position: relative;

		&:before{
			position: absolute;
			left:0;
			top:-2px;
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
		    color: #000;
		    font-size: 20px;
		    padding-right: 0.5em;
		    content: '\f086';
		}
	}
	li {
		@include spread-value(margin-bottom, 25px, 35px); //equivalent 30px -> 40px
		&:last-child {
			margin-bottom: 0;
		}
		&.author-comment {
			background:#f6f6f6;
			@include spread-value(padding, 20px, 30px); //equivalent 20px -> 30px
		}
	}	
}

/* ==========================================================================
#comment form
========================================================================== */

#comment-form {
	h3 {
		@include spread-value(font-size, $font-size-h3-small, $font-size-h3);
		@include spread-value(margin-bottom, 20px, 30px); // equivalent 20 -> 30px	
		padding-left: 35px;
		position: relative;

		&:before{
			position: absolute;
			left:0;
			top:-2px;
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
		    color: #000;
		    font-size: 20px;
		    padding-right: 0.5em;
		    content: '\f040';
		}
	}
	.form {
		margin:0;

		.btn {
			margin-top: 10px;
		}
	}
}

/* ==========================================================================
#author
========================================================================== */

.author {
	h3 {
		@include spread-value(font-size, $font-size-h3-small, $font-size-h3);
		@include spread-value(margin-bottom, 20px, 30px);
		padding-left: 35px;
		position: relative;

		&:before{
			position: absolute;
			left:0;
			top:-2px;
			font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    text-decoration: inherit;
		    color: #000;
		    font-size: 20px;
		    padding-right: 0.5em;
		    content: '\f007';
		}
	}
}

.author-list {
	.author {
		@include spread-value(margin-top, 30px, 50px);

	}
	> *:first-child + .author {
		margin-top: 0;
	}
}