/* Table of Contents
==================================================
    
    #Layout
    #Table layout    
    #fluid layouts
 
   ==================================================
*/


/* ==========================================================================
#Layout
========================================================================== */

.main-col,
.sidebar {
	@include spread-value(margin-top, 20px, 30px); //equivalent 30px -> 50px
}
.sidebar {
	.widget:last-child {
		margin-bottom: 0;
	}
}

/* ==========================================================================
#Table layout
========================================================================== */
.col-table {
	display: table;
	width:100%;
	table-layout: fixed;
	> div {
		display: table-cell;
		vertical-align: middle;
		float:none;
	}
}
@media (min-width: $screen-sm) {
	.col-sm-table {
		display: table;
		width:100%;
		table-layout: fixed;
		> div {
			display: table-cell;
			vertical-align: middle;
			float:none;
		}
	}
}

/* ==========================================================================
#Fluid layouts
========================================================================== */

/* fluid full-width rows e.g. @ home study section */
.fluid-row {
	img {
		width:100%;
	}
	.fluid-col {
		padding:0 !important;
		
		&.border {
			padding:0 1px !important;
		}
	}
}

.fluid-alt-backgrounds {
	text-align: center;
	.text {
		@include spread-value(padding-top, 20px, 80px); //equivalent 30px -> 90px
		@include spread-value(padding-bottom, 25px, 85px); //equivalent 30px -> 90px}

		padding-left: 15px;
		padding-right:15px;
		&.one {
			background-color: #f5f5f5;
		}
		@media (min-width: $screen-sm) {
			&.one {		
				background-color: #fff;
			}
			&.two {
				background-color: #f5f5f5;
			}	
		}	
		@media (min-width: $screen-lg) {
			&.one {			
				padding-left: 30%;
				padding-right:80px;
			}
			&.two {
				padding-left:80px;
				padding-right:30%;
			}	
		}	
	}	
}